body {
    background: #000000;
    color: #f1f1f1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


h1 {
    font-family: "Agency FB";
    font-size: 35px;
    margin-top: -115px;
    margin-bottom: 65px;
}


.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.big-text {
    font-family: "Agency FB";
    font-size: 70px;
    font-weight: bold;
    margin-bottom: -120px;
}


.btn {
    display: inline-block;
    margin: 150px 0;
    padding: 15px 130px;
    font-family: "Agency FB";
    font-size: 45px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background: #41C049;
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 20px;
}


.small-text {
    font-family: "Agency FB";
    font-size: 20px;
    font-weight: bold;
}


h2{
    font-family: "Agency FB";
    font-size: 75px;
    margin-top: -115px;
    margin-bottom: 75px;
}


.difficulty{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}


.difficulty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.easy-btn {
    width: 250px;
    margin: 150px 0;
    padding: 15px 130px;
    font-family: "Agency FB";
    font-size: 45px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background: #41C049;
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.2s;
    margin: 12px;
}


.medium-btn {
    width: 250px;
    margin: 150px 0;
    padding: 15px 130px;
    font-family: "Agency FB";
    font-size: 45px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background: #B2BB2A;
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.2s;
    margin: 12px;
}


.hard-btn {
    width: 250px;
    margin: 150px 0;
    padding: 15px 130px;
    font-family: "Agency FB";
    font-size: 45px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background: #C92A2A;
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.2s;
    margin: 12px;
}