body {
    background: #000000;
    color: #f1f1f1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


h1 {
    font-family: "Agency FB";
    font-size: 40px;
    margin-bottom: 10px;
}


.big-text {
    font-family: "Agency FB";
    font-size: 50px;
    font-weight: bold;
}


.btn {
    display: inline-block;
    margin: 150px 0;
    padding: 15px 130px;
    font-family: "Agency FB";
    font-size: 45px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background: #41C049;
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.2s;
}


.small-text {
    font-family: "Agency FB";
    font-size: 20px;
    font-weight: bold;
}







.subtitle {
    margin-top: 15px;
    font-size: 12px;
}


.btn:hover {
    background: #41C049;
    color: #f1f1f1;
}


#game {
    display: none;
    margin-top: 30px;
}


input {
    padding: 12px;
    font-size: 18px;
    width: 120px;
    text-align: center;
    border: 2px solid white;
    background: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
}


.message {
    margin-top: 25px;
    font-size: 16px;
}
